In [7]:
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('../data/pokemon.csv')
print(df.shape)
df.head()

(801, 41)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [3]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [15]:
df.type1.unique()

array(['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric',
       'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice',
       'dragon', 'dark', 'steel', 'flying'], dtype=object)

In [17]:
cols = ['name','type1'] 
# cols.extend(['against_water','against_grass','against_fire'])
cols.extend([x for x in df.columns if 'against' in x])
df = df[cols]
print(df.shape)
df.head()

(801, 5)

         name  type1  against_water  against_grass  against_fire
0   Bulbasaur  grass            0.5           0.25           2.0
1     Ivysaur  grass            0.5           0.25           2.0
2    Venusaur  grass            0.5           0.25           2.0
3  Charmander   fire            2.0           0.50           0.5
4  Charmeleon   fire            2.0           0.50           0.5

In [18]:
df_small = df[df['type1'].isin(['water','grass','fire'])]
print(df_small.shape)
df_small

(244, 5)

           name  type1  against_water  against_grass  against_fire
0     Bulbasaur  grass            0.5           0.25          2.00
1       Ivysaur  grass            0.5           0.25          2.00
2      Venusaur  grass            0.5           0.25          2.00
3    Charmander   fire            2.0           0.50          0.50
4    Charmeleon   fire            2.0           0.50          0.50
..          ...    ...            ...            ...           ...
775  Turtonator   fire            1.0           0.25          0.25
778     Bruxish  water            0.5           2.00          0.50
786   Tapu Bulu  grass            0.5           0.50          2.00
787   Tapu Fini  water            0.5           2.00          0.50
797     Kartana  grass            0.5           0.25          4.00

[244 rows x 5 columns]

In [19]:
df_pca = df_small.drop(['name','type1'],axis=1)
df_pca.head()

   against_water  against_grass  against_fire
0            0.5           0.25           2.0
1            0.5           0.25           2.0
2            0.5           0.25           2.0
3            2.0           0.50           0.5
4            2.0           0.50           0.5

In [20]:
pca = PCA()
pca.fit(df_pca)
print(pca.explained_variance_ratio_)

[0.59986125 0.32218159 0.07795717]