In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('../data/pokemon.csv')
print(df.shape)
df.head()

(801, 41)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [3]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [4]:
df.type1.unique()

array(['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric',
       'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice',
       'dragon', 'dark', 'steel', 'flying'], dtype=object)

In [5]:
cols = ['name','type1'] 
cols.extend(['against_water','against_grass','against_fire','against_electric','against_rock'])
# cols.extend([x for x in df.columns if 'against' in x])
df_small = df[cols]
print(df_small.shape)
df_small.head()

(801, 7)

,name,type1,against_water,against_grass,against_fire,against_electric,against_rock
0,Bulbasaur,grass,0.5,0.25,2.0,0.5,1.0
1,Ivysaur,grass,0.5,0.25,2.0,0.5,1.0
2,Venusaur,grass,0.5,0.25,2.0,0.5,1.0
3,Charmander,fire,2.0,0.50,0.5,1.0,2.0
4,Charmeleon,fire,2.0,0.50,0.5,1.0,2.0

In [42]:
df_less = df_small[df_small['type1'].isin(['water','grass','fire','electric','rock'])]
print(df_less.shape)
df_less.reset_index(inplace=True,drop=True)
df_less.head()

(328, 7)

,name,type1,against_water,against_grass,against_fire,against_electric,against_rock
0,Bulbasaur,grass,0.5,0.25,2.0,0.5,1.0
1,Ivysaur,grass,0.5,0.25,2.0,0.5,1.0
2,Venusaur,grass,0.5,0.25,2.0,0.5,1.0
3,Charmander,fire,2.0,0.50,0.5,1.0,2.0
4,Charmeleon,fire,2.0,0.50,0.5,1.0,2.0

In [7]:
df_pca = df_less.drop(['name','type1'],axis=1)
df_pca.head()

   against_water  against_grass  against_fire  against_electric  against_rock
0            0.5           0.25           2.0               0.5           1.0
1            0.5           0.25           2.0               0.5           1.0
2            0.5           0.25           2.0               0.5           1.0
3            2.0           0.50           0.5               1.0           2.0
4            2.0           0.50           0.5               1.0           2.0

In [8]:
df_pca.min()

against_water       0.25
against_grass       0.25
against_fire        0.25
against_electric    0.00
against_rock        0.50
dtype: float64

In [9]:
df_pca.max()

against_water       4.0
against_grass       4.0
against_fire        4.0
against_electric    4.0
against_rock        4.0
dtype: float64

In [33]:
pca = PCA(n_components = 2)
pca_comps = pd.DataFrame(pca.fit_transform(df_pca))
print(pca.explained_variance_ratio_)

[0.44451646 0.24354416]

In [43]:
df_less['pc1'] = pca_comps[0]
df_less['pc2'] = pca_comps[1]
df_less

<ipython-input-43-ecb611fa2d58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_less['pc1'] = pca_comps[0]
<ipython-input-43-ecb611fa2d58>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_less['pc2'] = pca_comps[1]

,name,type1,against_water,against_grass,against_fire,against_electric,against_rock,pc1,pc2
0,Bulbasaur,grass,0.5,0.25,2.0,0.5,1.0,-1.623667,-0.285527
1,Ivysaur,grass,0.5,0.25,2.0,0.5,1.0,-1.623667,-0.285527
2,Venusaur,grass,0.5,0.25,2.0,0.5,1.0,-1.623667,-0.285527
3,Charmander,fire,2.0,0.50,0.5,1.0,2.0,-0.404103,0.989987
4,Charmeleon,fire,2.0,0.50,0.5,1.0,2.0,-0.404103,0.989987
...,...,...,...,...,...,...,...,...,...
323,Tapu Bulu,grass,0.5,0.50,2.0,0.5,1.0,-1.428694,-0.277192
324,Tapu Fini,water,0.5,2.00,0.5,2.0,1.0,1.015548,-0.819918
325,Nihilego,rock,2.0,1.00,0.5,1.0,1.0,0.063167,0.924568
326,Xurkitree,electric,1.0,1.00,1.0,0.5,1.0,-0.481537,0.293246
327,Kartana,grass,0.5,0.25,4.0,0.5,0.5,-2.579522,-0.605208

In [44]:
df_less.to_csv('../data/pokemon_small.csv',index=False)